attrs==20.3.0
autopep8==1.5.4
bokeh==2.2.3
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
Fiona==1.8.18
geopandas==0.8.1
idna==2.10
Jinja2==2.11.2
MarkupSafe==1.1.1
munch==2.5.0
numpy==1.19.4
packaging==20.7
pandas==1.1.4
pathlib-mate==1.0.0
pgeocode==0.3.0
Pillow==8.0.1
pkg-resources==0.0.0
pycodestyle==2.6.0
pyparsing==2.4.7
pyproj==3.0.0.post1
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
Shapely==1.7.1
six==1.15.0
SQLAlchemy==1.3.20
toml==0.10.2
tornado==6.1
typing-extensions==3.7.4.3
urllib3==1.26.2
uszipcode==0.2.4
