/*---------------------------------------------------------*/
/* For Data reporting screens
/*---------------------------------------------------------*/
.dataframe th {
    text-align: left;
    border: none;
}
.dataframe thead {
    background-color: #014e01; 
    color: white;
    text-transform: uppercase;
} 
h1, h2, h3, h4, h5{
    color: #d18104;
}
.navbar, .btn-primary {
   background-color: #014e01 !important; 
}